header {
    background: transparent;
    max-width: 100%;
    height: 100px;
    padding: calc(22px + 1vw) 6.3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header .menu_wrapper {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .menu_wrapper button {
    display: flex;
    width: 100%;
    height: 63px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 50px;
    border: transparent;
    color: #000;
    font-size: 18px;
    background: transparent;
    position: relative;
}
header .menu_wrapper button .hamburger {
    display: flex;
    cursor: pointer;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 0px;
    padding: 10px;
}
header .menu_wrapper button .hamburger.active {
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.bar {
    display: block;
    width: 23px;
    height: 2px;
    margin: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #00aea4;
}
.bar:nth-child(1) {
	display: none;
}
.bar:nth-child(3) {
    width: 30px;
}
.nav-link:hover{
    color: #482ff7;
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 8rem;
    background-color: #fff;
    width: 150px;
    padding: 25px;
    border-radius: 14px;
    text-align: left;
    list-style: none;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}
.mobile_nav_menu {
    right: 0;
    left: 70%;
    width: 147px;
    z-index: 99;
    top: 5rem;
    transition: 0.3s;
}
.nav-menu.active {
    left: 5.5%;
    z-index: 99;
}
.nav-item .nav-link {
    display: flex;
    width: 100%;
    gap: 8px;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: #798685;
    margin-bottom: 15px;
}
.hamburger {
    display: block;
    cursor: pointer;
}
.mobile_header header .menu_wrapper button .hamburger {
    display: flex;
    cursor: pointer;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 100px;
    width: 47px;
    height: 47px;
    position: absolute;
    right: 0px;
}
.mobile_header header .menu_wrapper button .hamburger .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #00aea4;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    display: block;
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    width: 23px;
}
header .logo_wrapper {
    width: 12.3%;
    text-align: center;
}
/* header .logo_wrapper img {
    max-width: 100%;
    min-width: 177px;

} */
header .signup_wrapper {
    display: flex;
    width: 10.5%;
    align-items: center;
    justify-content: center;
}
header .signup_wrapper {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 21px 4px;
    border: 1px solid #fff;
    border-radius: 50px;
}
header .signup_wrapper a {
    color: #00AEA4;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    font-family: 'Chillax-Medium';
}
.theme_color{
    color: #00AEA4 !important;
}
.theme_bg_color{
    background: #00AEA4 !important;
    border: 1px solid #00AEA4 !important;
}
.white{
    color: #fff !important;
}
.bg_white{
    background-color: #fff;
}
.bg_color{
    border: 1px solid #d8f3f3 !important;
    background: #d8f3f3 !important;
}
@media screen and (max-width: 1400px) {
    .main_wrapper .container {
        width: 96vw;
        margin: auto;
    }
    header .menu_wrapper {
        width: 15%;
    }
    header .logo_wrapper {
        width: 15.3%;
    }
    header .signup_wrapper {
        width: 12%;
    }
    .recommendations header .menu_wrapper {
        width: 15%;
    }
    .recommendations header .logo_wrapper {
        width: 15.3%;
    }
    .recommendations header .signup_wrapper {
        width: 12%;
    }
}
@media screen and (max-width: 1280px) {
    header .menu_wrapper {
        width: 17%;
    }
    .recommendations header .menu_wrapper {
        width: 17%;
    }
    header .logo_wrapper {
        width: 17.3%;
    }
    header .signup_wrapper {
        width: 13%;
    }
    .recommendations header .logo_wrapper {
        width: 17.3%;
    }
    .recommendations header .signup_wrapper {
        width: 13%;
    }
    header .menu_wrapper button {
        width: auto;
        padding: 0px;
    }
}
@media screen and (max-width: 1080px) {
    header .menu_wrapper {
        width: 21%;
    }
    header .logo_wrapper {
        width: 20.3%;
    }
    header .signup_wrapper {
        width: 15%;
    }
    .recommendations header .menu_wrapper {
        width: 21%;
    }
    .recommendations header .logo_wrapper {
        width: 20.3%;
    }
    .recommendations header .signup_wrapper {
        width: 15%;
    }
}
@media screen and (max-width: 880px) {
    header .menu_wrapper {
        width: 23%;
    }
    header .logo_wrapper {
        width: 22.3%;
    }
    .recommendations header .menu_wrapper {
        width: 23%;
    }
    .recommendations header .logo_wrapper {
        width: 22.3%;
    }
  
}
@media screen and (max-width: 767px) {
    header{
        height: auto;
        padding: calc(12px + 1vw) 6.3%;
    }
    header .menu_wrapper {
        width: 25%;
        order: 2;
    }
    header .logo_wrapper {
        width: 24.3%;
        order: 1;
    }
    header .signup_wrapper {
        width: 17%;
        display: none;       
    }
    header .menu_wrapper button .hamburger {
        align-items: flex-end;
        width: 28px;
        height: 28px;
    }
    .nav-menu{       
        display: none;
    }
    .nav-menu.active{
        right: 5.5%;
        left: auto;
        display: block;
    }
}
@media screen and (max-width: 680px) {
   
    .mobile_header {
        display: flex !important;
        width: 100%;
    }
    .mobile_header header {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        height: auto;
        padding: 15px;
    }
    .mobile_header header .menu_wrapper {
        width: 16%;
    }
    .mobile_header header .logo_wrapper {
        width: 35%;
    }
    .main_wrapper .container .intro_wrapper h1 {
        font-size: 35px;
        line-height: 45px;
        text-align: center;
    }
    .main_wrapper .container .intro_wrapper p {
        display: none;
    }
    .mobile_intro_wrapper {
        display: flex !important;
        width: 100%;
    }
    .mobile_intro_wrapper p {
        display: block !important;
    }
}
@media screen and (max-width: 480px) {
    .mobile_header header .logo_wrapper {
        width: 45%;
    }
}
@media screen and (max-width: 374px) {
    header  .logo_wrapper img{
        width: 140px;
        height: 29px;
    }
    .mobile_header header .logo_wrapper {
        width: 50%;
    }   
    .mobile_header header .menu_wrapper {
        width: 20%;
    }
    .main_wrapper .container .intro_wrapper h1 {
        font-size: 32px;
        line-height: 42px;
    }
    .mobile_nav_menu {
        left: 40%;
    }    
}
@media screen and (max-width: 360px) {
    .main_wrapper .container .intro_wrapper h1 {
        font-size: 29px;
        line-height: 39px;
    }
    .main_wrapper .container .detail_wrapper .detail_sec .detail_caption p {
        font-size: 11px;
    }
    .mobile_nav_menu {
        left: 34%;
    }
}
@media screen and (max-width: 320px) {
    .main_wrapper .container .intro_wrapper h1 {
        font-size: 25px;
        line-height: 35px;
    }
    .mobile_nav_menu {
        left: 24%;
    }
}