/* RESULT PAGE CSS */
.main_wrapper .container .main_result_sec {
    background: #fff;
    width: 100%;
    border-radius: 34px 34px 0px 0px;
}
.main_wrapper .container .main_result_sec .result_header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 300px;
    border-radius: 34px;
    flex-flow: column wrap;
    position: relative;
    margin-bottom: 62px;
}
.main_wrapper .container .main_result_sec .result_header h1 {
    font-size: 46px;
    line-height: 60px;
    color: #fff;
    font-family: 'Chillax-Semibold';
}
.main_wrapper .container .main_result_sec .result_header .search_div {
    position: absolute;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    border-radius: 50px;
    padding: 4px 4px;
    bottom: -25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid #e5e5e5
}
.main_wrapper .container .main_result_sec .result_header .search_div .search_heading {
    display: flex;
    width: 100%;
}
.main_wrapper .container .main_result_sec .result_header .search_div .search_heading span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    color: #1B3231;
    font-size: 18px;
    line-height: 25px;
    margin-left: 3vw;
    gap: 15px;
}
.main_wrapper .container .main_result_sec .result_header .search_div .search_submit {
    display: flex;
    width: 32px;
    background: #00AEA4;
    padding: 10px 8px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.main_wrapper .container .main_result_sec .result_header .search_div .search_submit img {
    width: 25px;
    height: 25px;
}
.main_wrapper .container .main_result_sec .result_detail_wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.main_wrapper .container .main_result_sec .result_detail_wrapper .result_detail_sec {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.main_wrapper .container .main_result_sec .result_detail_wrapper .result_detail_sec .result_header_sec {
    display: flex;
    width: 100%;
    max-width: 210px;
    align-items: center;
    justify-content: space-between;
}
.main_wrapper .container .main_result_sec .result_detail_wrapper .result_detail_sec .result_header_sec h1{
    font-family: 'Chillax-Bold';
}
.main_wrapper .container .main_result_sec .result_detail_wrapper .result_detail_sec .result_header_sec .result_date p{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_wrapper .container .main_result_sec .result_detail_wrapper .result_detail_sec .result_header_sec .result_date p img{
    padding-inline: 5px;
}
.save_share_cont{
    position: absolute;
    top: 8%;
    right: 2%;
    background: #fff;
    height: 36px;
    border-radius: 30px;   
    padding: 1px 8px;
}
.save_share_cont img:nth-child(1){
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.save_share_cont img:nth-child(2){
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.morning_container{
    padding-block: 25px;
    position: relative;
}
.morning_container .morning_heading h2{
    font-family:'Chillax-Medium';
    font-size: 26px;
}
.morning_container .morning_heading h2::before{
    content:url(../../../../public/Sun.png);
    width: 24px;
    height: 24px;
    vertical-align: middle;
    padding-right: 20px;
}
.morning_container .morning_heading .afternoon::before{
    content:url(../../../../public/Vector.png);
    width: 24px;
    height: 24px;
    vertical-align: middle;
    padding-right: 20px;
}
.morning_container .morning_heading .evening::before{
    content:url(../../../../public/Moon.png);
    width: 24px;
    height: 24px;
    vertical-align: middle;
    padding-right: 20px;
}
.morning_container .morning_heading .hotels::before{
    content:url(../../../../public/Location.png);
    width: 24px;
    height: 24px;
    vertical-align: middle;
    padding-right: 20px;
}
.morning_container .morning_description{
    padding-block: 15px;
    width: 93%;
    margin: auto;
    color: #798685;
}
.morning_container .morning_img_cont{
    width: 93%;
    margin: auto;
    box-sizing: border-box; 
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
}
.morning_container .morning_img_cont .place_review_cont{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.morning_container .morning_img_cont .place_review_cont button{
    padding: 12px 28px;
    border-radius: 20px;
    border: none;
    background-color: #00a3a4;
    color: #fff;
}
.morning_container .border_img{
    position: absolute;
    top: 11%;
    left: .9%;
}