.main_wrapper .container .planning_wrapper {
    display: flex;
    width: 681px;
    align-items: center;
    margin: 0 auto;
    background: #fff;
    height: 73px;
    border: 1px solid #dddddd;
    border-radius: 50px;
    margin-bottom: 68px;
}
.main_wrapper .container .planning_wrapper .plan_here {
    width: 355px;
    padding-left: 41px;
}
.main_wrapper .container .planning_wrapper .plan_here .nosubmit {
    width: 100%;
    background: transparent;
    border: none;
    color: #1B3231;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Chillax-Medium';
    position: relative;
    display: flex;
    outline: none;
    gap: 14px;
}
.main_wrapper .container .planning_wrapper .plan_here .nosubmit svg {
    width: 24px;
    height: 24px;
    stroke: #1B3231;
}
.main_wrapper .container .planning_wrapper .choose_date {
    width: 148px;
    height: 44px;
    border-left: 1px solid #dddddd;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
}
.main_wrapper .container .planning_wrapper .choose_date button {
    display: flex;
    width: 100%;
    height: 44px;
    align-items: center;
    gap: 16px;
    background: transparent;
    border: none;
    font-size: 18px;
    line-height: 25px;
    color: #798685;
    font-family: 'Chillax-Medium';
}
.main_wrapper .container .planning_wrapper .choose_date button svg {
    width: 24px;
    height: 24px;
    font-size: 20px;
}
.main_wrapper .container .planning_wrapper .lets_go {
    width: 112px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_wrapper .container .planning_wrapper .lets_go button {
    background: #00AEA4;
    border: 1px solid #00AEA4;
    border-radius: 50px;
    width: 112px;
    height: 63px;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Chillax-Medium';
}
@media screen and (max-width: 767px) {  
    .main_wrapper .container .planning_wrapper {
        width: 646px;
    }
    .main_wrapper .container .planning_wrapper .lets_go {
        padding-right: 5px;
    }  
   .main_wrapper .container .planning_wrapper .choose_date button {       
        font-size: 16px;
    }     
}
@media screen and (max-width: 680px) {
    .main_wrapper .container .planning_wrapper {
        display: none;
    }    
}
