@font-face {
  font-family: 'Chillax-Bold';
  src: url('../../public/fonts/Chillax-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Chillax-Extralight';
  src: url('../../public/fonts/Chillax-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Chillax-Light';
  src: url('../../public/fonts/Chillax-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Chillax-Medium';
  src: url('../../public/fonts/Chillax-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Chillax-Regular';
  src: url('../../public/fonts/Chillax-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Chillax-Semibold';
  src: url('../../public/fonts/Chillax-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

body{
  font-family: 'Chillax-Regular';
}
*{
  margin: 0px; 
}
.main_wrapper {
  max-width: 100%;
  margin-bottom: 80px;
}
.main_wrapper .container {
  width: 1360px;
  margin: 0 auto;
}
@media screen and (max-width: 1400px) {
  .main_wrapper .container {
      width: 96vw;
  }
}