.body_position {
  position: relative;
  bottom: 0px;
  height: 100vh;
  margin-bottom: 90px;
}

.body_bg {
  background: url('../../public/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}