.main_wrapper .container .recommend_content_wrapper {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    gap: 35px;
    margin-bottom: 70px;
}

.main_wrapper .container .recommend_content_wrapper .recommend_sec {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec {
    width: 19vw;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-flow: column wrap;
}
.main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec .detail_img {
    display: flex;
    width: 100%;
}
.main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec .detail_img img {
    width: 100%;
}
.main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec .detail_txt {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    gap: 10px;
}
.main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec .detail_txt h2 {
    font-size: 20px;
    line-height: 28px;
    color: #1B3231;
    font-family: 'Chillax-Medium';
}
.main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec .detail_txt p {
    color: #798685;
    font-size: 16px;
    line-height: 22px;
}
/* Media Queries */
@media screen and (max-width: 1850px) {
   
    .recommendations .main_wrapper .container .recommend_content_wrapper .recommend_sec .detail_wrapper .detail_sec {
        width: 23.6%;
    }
    .country .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec .detail_txt h2 {
        font-size: 18px;
        line-height: 28px;
    }
 
}
@media screen and (max-width: 1700px) {
    .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec {
        padding: 18px;
    }
    .recommendations .main_wrapper .container .recommend_content_wrapper .recommend_sec .detail_wrapper .detail_sec {
        width: 23.5%;
    }
    .country .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec .detail_txt h2 {
        font-size: 16px;
        line-height: 26px;
    }   
}
@media screen and (max-width: 1560px) {
    .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec {
        padding: 16px;
    }
    .recommendations .main_wrapper .container .recommend_content_wrapper .recommend_sec .detail_wrapper .detail_sec {
        width: 23.4%;
    }
    .country .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec .detail_txt h2 {
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (max-width: 1400px) {
    .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec {
        padding: 13px;
    }  
    .recommendations .main_wrapper .container .recommend_content_wrapper .recommend_sec .detail_wrapper .detail_sec {
        width: 23.2%;
    }
    .country .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec .detail_txt h2 {
        font-size: 13px;
        line-height: 23px;
}
}
@media screen and (max-width: 1280px) {  
    .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec {
        padding: 10px;
    }
    .recommendations .main_wrapper .container .recommend_content_wrapper .recommend_sec .detail_wrapper .detail_sec {
        width: 22.94%;
    }
}
@media screen and (max-width: 1080px) {   
    .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec {
        padding: 8.8px;
    }
    .recommendations .main_wrapper .container .recommend_content_wrapper .recommend_sec .detail_wrapper .detail_sec {
        width: 22.75%;
    }
    .main_wrapper .container .recommend_content_wrapper h1 {
        font-size: 40px;
        line-height: 50px;
    }
}
@media screen and (max-width: 990px) {   
    .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec {
        padding: 20px;
        width: 43%;
    }
    .recommendations .main_wrapper .container .recommend_content_wrapper .recommend_sec .detail_wrapper .detail_sec {
        width: 48%;
    }      
    .main_wrapper .container .recommend_content_wrapper h1 {
        font-size: 35px;
        line-height: 45px;
    }   
}
@media screen and (max-width: 880px) {   
    .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec {
        width: 42%;
    }   
    .main_wrapper .container .recommend_content_wrapper h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .recommendations .main_wrapper .container .recommend_content_wrapper .recommend_sec .detail_wrapper .detail_sec {
        width: 47.97%;
    }
}
@media screen and (max-width: 767px) {  
    .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec {
        width: 41.5%;
    }
    .recommendations .main_wrapper .container .recommend_content_wrapper .recommend_sec .detail_wrapper .detail_sec {
        width: 47.7%;
    }
}
@media screen and (max-width: 680px) {   
    .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec {
        width: 39.3%;
    }
    .recommendations .main_wrapper .container .top_places_wrapper .top_place_txt h2 {
        font-size: 20px;
        line-height: 30px;
    }   
    .main_wrapper .container .recommend_content_wrapper .recommend_sec .detail_wrapper {
        display: flex;
        width: 100%;
    }
    .recommendations .main_wrapper .container .recommend_content_wrapper .recommend_sec .detail_wrapper .detail_sec {
        width: 47.1%;
    }  
}
@media screen and (max-width: 540px) {  
    .main_wrapper .container .recommend_content_wrapper .recommend_sec .recommend_detail_sec {
        width: 91.3%;
    }
    .recommendations .main_wrapper .container .recommend_content_wrapper .recommend_sec .detail_wrapper .detail_sec {
        width: 100%;
    }  
}